body {
    background-color: white;
    font-family: Chalkboard;
    font-size: larger;
}

.tip {
    color: blue;
}

.memory {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    border: groove;
    border-radius: 15px;
    margin-right: 15%;
    margin-left: 5%;
}

.delete_memory_button {
    width: 10em;
    height: 3em;
    font-family: Chalkboard;
    color: red;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.add_memory_button {
    width: 10em;
    height: 3em;
    font-family: Chalkboard;
    color: limegreen;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 8%;
}

.logout_button {
    width: 7em;
    height: 2em;
    background-color: royalblue;
    color: lightgray;
    font-size: 18px;
    font-weight: bold;
    font-family: Chalkboard;
    border-radius: 10px;
    margin-top: 10px;
    margin-right:5em;
    float: right;
}



