body {
    background-color: white;
    font-family: Chalkboard;
    font-size: larger;
    text-align: center;
    margin-top: 100px;
}

input {
    margin: 10px;
}

input[type="text"]{
    border-radius: 5px;
    height: 20px;
    font-family: Chalkboard;
    font-size: medium;
}

input[type="password"]{
    border-radius: 5px;
    height: 20px;
    font-family: Chalkboard;
    font-size: medium;
}

input[type="submit"]{
    border-radius: 10px;
    background-color: white;
    height: 2em;
    width: 10em;
    font-family: Chalkboard;
    font-size: medium;
;
}

