<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My account</title>
</head>
<body>
    <p>Your account: <span><a href="{{ url_for("logout") }}">Logout</a></span></p>
    {% if user %}
        <p>Username: {{ user['username'] }}</p>
        <ul>Memories:
        <br>
            <form>
                {% for memory in user['memories'] %}
                    <li>
                        Image:
                        {% if memory['image_data'] %}
                            <img src="data:image/png; base64, {{ memory['image_data'] }}" ><br>
                        {% else %}
                            No image for this memory
                        {% endif %}
                        Name: {{ memory['name'] }}<br>
                        Address: {{ memory['address'] }}<br>
                        Description: {{ memory['description'] }}<br>
                        <input type="submit" formmethod="post"
                               formaction="{{ url_for('delete_memory', username = user['username'], memory_id = memory['id']) }}"
                               value="Delete Memory">
                        <br>
                        <br>
                    </li>
                {% endfor %}
            </form>
        </ul>
        <a href="{{ url_for("add_memory", username = user['username']) }}">Add a memory</a>
    {% endif %}
</body>
</html>