<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My account</title>
    <link rel="stylesheet" type="text/css" href="/static/account.css">
</head>
<body>
    <form><input class="logout_button" type="submit" formmethod="get" formaction="{{ url_for("logout") }}" value="Logout"></form>
    <p>Your account: </p>
    {% if user %}
        <p>Username: {{ user['username'] }}</p>
        <ul>Memories:<br>
        <br>
            <form>
                {% for memory in user['memories'] %}
                    <li class="memory">
                        Name: {{ memory['name'] }}<br>
                        Address: {{ memory['address'] }}<br>
                        Tip: <span class="tip">{{ memory['description'] }}</span><br>
                        <br>
                        <div>
                            {% if memory['image'] %}
    {#                            <img src="data:image/jpg; base64, {{ memory['image_data'] }}" ><br>#}
                                <div>
                                    <img src="{{ url_for("get_image", image_id = memory['image']) }}" width="100%" height="100%"><br>
                                </div>
                            {% else %}
                                No image for this memory<br>
                            {% endif %}
                        </div>
                        <p align="right"><input class="delete_memory_button" type="submit" formmethod="post"
                               formaction="{{ url_for('delete_memory', username = user['username'], memory_id = memory['id']) }}"
                               value="Delete Memory"></p>
                        <br>
                    </li><br>
                {% endfor %}
            </form>
        </ul>
            <form>
            <input class="add_memory_button" type="submit" formmethod="get" formaction="{{ url_for('add_memory', username = user['username']) }}"
                   value="Add a Memory">
            <br>
            <br>
            </form>
        <br>
    {% endif %}
</body>
</html>
