<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add A Memory</title>
    <link rel="stylesheet" type="text/css" href="/static/add_memory.css">
</head>
<body>
    {% if error %}
    {{ error }}
    {% endif %}
    <p>Add a memory</p>
    <form method="post" enctype="multipart/form-data">
        Restaurant name: <input type="text" name="name"><br><br>
        Address: <input type="text" name="address"><br><br>
        <label for="description">Tip</label>
        <textarea rows="4" id="desc" name="description"></textarea><br><br>
        Upload Image File:
        <input type="file" name="image"><br>
        <br>
        <input class="add_memory_button" type="submit" value="Add Memory">
    </form>
    <br>
    <form><input class="back_to_account_button" type="submit" value="Cancel" formmethod="get" formaction="{{ url_for("login") }}"></form>
</body>
</html>