<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Whyilikethis!</title>
    <link rel="stylesheet" type="text/css" href="/static/login.css">
</head>
<body>
    {% if error %}
        {{ error }}
    {% endif %}
    <p>Login here to access your account</p>
    <form method="post">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>