<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up for an account</title>
    <link rel="stylesheet" type="text/css" href="/static/login.css">
</head>
<body>
    {% if error %}
        {{ error }}
        <a href="{{ url_for("login") }}">here</a>
    {% endif %}
    
    <p>Sign up here to create an account</p>
    <form method="post">
        Username: <input type="text" name="new_username"><br>
        Password: <input type="password" name="new_password"><br>
        Confirm password: <input type="password" name="confirm_password"><br>
        <input type="submit" value="Sign up">
    </form>
    <a href="{{ url_for("login") }}">Back to login page</a>
</body>
</html>
