<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up for an account</title>
</head>
<body>
    {% if error %}
    {{ error }}
    {% endif %}
    
    <p>Sign up here to create an account</p>
    <form method="post">
        Username: <input type="text" name="new_username"><br>
        Password: <input type="password" name="new_password"><br>
        Confirm password: <input type="password" name="confirm_password"><br>
        <input type="submit" value="Sign up">
    </form>
</body>
</html>